{% extends 'CharitySystem/head-foot-page.html' %}
{% block content %}
{% load crispy_forms_tags %}
    <center>
        <div>
            <br><br>
            <div style="font-size: 15pt;">
                <i class="fas fa-sign-out-alt fa-10x"></i>
            </div>
            <br><br>
            <h2>You Have</h2>
            <h2>Been</h2>
            <h2>Logged Out</h2>
            <h4>Thank You for Using Our Website</h4>
            <br>
            <h6>Please <a href="http://127.0.0.1:8000/login/" class="l">Click here </a>to login back to out website</h4>
        </div>
        <br>
        <table>
            <thead>
                <tr>
                    <th style="border-right: 1px solid blue; padding:11.5px;"><a href="http://127.0.0.1:8000/" class="l2">Home </a></th>
                    <th style="border-right: 1px solid blue; padding:11.5px;"><a href="#" class="l2">About </a></th>
                    <th style="border-right: 1px solid blue; padding:11.5px;"><a href="#" class="l2">FAQ </a></th>
                    <th style="padding:11.5px;"><a href="#" class="l2">Contact </a></th>
                </tr>
            </thead>
        </table>
        <br>
    </center>
{% endblock %}