{% extends "CharitySystem/head-foot-page.html" %}
{% block content %}
{% load static %}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col">
            <img src="{% static 'img/verified.png' %}" alt="verified" width="100%" height="400px">
        </div>
        <div class="col text-center">
            <div style="padding-top:30%;">
                <p class="h3 font-weight-bold">Your Club's Has Been Verified</p>
                <p class="h5">You will be notified officially soon ...</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}