{% extends "CharitySystem/head-foot-page.html" %}
{% block content %}
{% load static %}
<div class="container mt-5 mb-5">
{% for req in data %}
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'img/charity.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{req.club_name}}</h5>
          <p class="card-text">{{req.donation_description}}</p>
      </div>
      <div class="card-body">
        <a href="/payment/" class="card-link btn btn-outline-info">Donate </a>
      </div>
  </div>
{% endfor %}
</div>

{% endblock %}
